---
layout: base
---

<div class="post">
  <h2 class="title">{{ page.title }}</h2>
  <div class="story">
    <p>I had never given much thought to how would my life end. Death was my companion for a long time, a common experience. I took granted that every day could be my last, yet I had no idea what would count as a good way to go. I knew very well how it felt to be left over and over again, but I had never imagined myself leaving.</p>
    <p>Then, one day, me and my fate bumped into each other. I wasn’t warned, wasn’t given a chance to say my goodbyes, wasn’t even allowed to remember. My life, as I knew it, faded into thin air. Which is funny, for air used to be paramount.</p>
    <p>Was it a good way to go? No. Was it a way at all? Not even.</p>
    <p>Now, there is only one question to be answered. Had you find your life, your everything taken away, would you dare to start it all over again?</p>
  </div>
</div>

<div class="post">
  <h2 class="title">Chapters</h2>
  <div class="story">
    <ul>
      {% for post in site.posts reversed %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
    </ul>
  </div>
</div>
